@model List<TicketOffice.Common.Dtos.TicketDto>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        You have to <a asp-controller="Auth" asp-action="SignUp">Register</a> or
        <a asp-controller="Auth" asp-action="Login">Login</a> to see available tickets.
    </p>
</div>